.modal {
    background: rgba(0, 0, 0, 0.6); 
  }
  
  .modal-dialog {
    max-width: 450px;
    border-radius: 10px;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .modal-content {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #ffffff, #f8f9fa);
  }
  
  .modal-header {
    background: blue; 
    color: white;
    font-weight: bold;
    border-bottom: none;
    padding: 15px;
  }
  
  .modal-title {
    font-size: 1.25rem;
  }
  
  .modal-body {
    color: #333;
    font-size: 1rem;
    padding: 20px;
  }
  
  .modal-footer {
    border-top: none;
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .modal-footer .btn {
    border-radius: 6px;
    padding: 8px 16px;
    font-weight: bold;
    width: 100% !important
  }
  
  .modal-footer .btn-secondary {
    background: #6c757d;
    border: none;
    transition: 0.3s;
  }
  
  
  .modal-footer .btn-danger {
    background: #dc3545;
    border: none;
    transition: 0.3s;
  }
  
 /* .modalfooter{
    
 } */